
<div class="left-nav bg-light py-32 min-vh-100">
    <div class="mb-32 px-32">
        <a href="index.html"><img src="../assets/images/logo-ANSWER.svg" alt="logo"></a>
    </div>

    <ul class="nav flex-column">
        <li class="nav-item mb-4">
            <a class="nav-link d-flex align-items-center text-decoration-none pt-1 pb-1 px-32" aria-current="page" href="#" data-page="Dashboard">
                <span class="material-icons me-3">poll</span>
                <h3 class="fs-6 mb-0 fw-bold">Dashboard</h3>
            </a>
        </li>
        <li class="nav-item mb-4">
            <a class="nav-link d-flex align-items-center text-decoration-none pt-1 pb-1 px-32" href="#" data-page="Question">
                <span class="material-icons me-3">question_answer</span>
                <h3 class="fs-6 mb-0 fw-bold">Question</h3>
            </a>
        </li>
        <li class="nav-item mb-4">
            <a class="nav-link d-flex align-items-center text-decoration-none pt-1 pb-1 px-32" href="#" data-page="Assignment">
                <span class="material-icons me-3">assignment</span>
                <h3 class="fs-6 mb-0 fw-bold">Assignment</h3>
            </a>
        </li>
        <li class="nav-item mb-4">
            <a class="nav-link d-flex align-items-center text-decoration-none pt-1 pb-1 px-32" href="#" data-page="Course">
                <span class="material-icons me-3">video_library</span>
                <h3 class="fs-6 mb-0 fw-bold">Course</h3>
            </a>
        </li>
        <li class="nav-item mb-4">
            <a class="nav-link d-flex align-items-center text-decoration-none pt-1 pb-1 px-32" href="admin.html" data-page="Admin">
                <span class="material-icons me-3">people</span>
                <h3 class="fs-6 mb-0 fw-bold">Admin</h3>
            </a>
        </li>
        <li class="nav-item mb-4">
            <a class="nav-link d-flex align-items-center text-decoration-none pt-1 pb-1 px-32" href="#" data-page="Settings">
                <span class="material-icons me-3">settings</span>
                <h3 class="fs-6 mb-0 fw-bold">Settings</h3>
            </a>
        </li>
    </ul>
</div>